img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}