.contactPage {
    background-color: $secondaryBackground;
}

.contactMain {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 90px;

    .contactInfo {
        background-color: $white;
        padding: 35px;
        align-self: flex-start;
        min-width: calc(30% - 20px);
        margin-right: 20px;

        .emailAddress {
            font-weight: bold;
            padding: 8px 0;

            a {
                transition: 0.3s;

                &:hover, 
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }
}

.socialsIcons {
    display: flex;
    
    li {
        margin-left: 0;
        margin-right: 15px;

        i {
            padding: 5px;
            transition: 0.3s;

            &:hover, 
            &:focus {
                color: $secondaryAccent;
            }
        }

        .social {
            color: $fourthAccent;
            @include fontSize(28);
        }
    }
}
