.contactPage {
    background-color: $secondaryBackground;
}

.contactMain {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 90px;

    .contactInfo {
        background-color: $white;
        padding: 35px;
        align-self: flex-start;

        .emailAddress {
            font-weight: bold;
            padding: 8px 0;
        }
    }
}

.socialsIcons {
    display: flex;
    
        li {
            margin-left: 0;
            margin-right: 15px;

            a {
                padding: 5px;
            }

            .social {
                color: $primaryBackground;
                @include fontSize(28);
            }
        }
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 20px;


    .contactFlex {
        display: flex;
        justify-content: space-between;
    }

    input {

        display: block;
        border: none;

        &.name, 
        &.email {
            padding: 20px;
            width: 49%;
        }
    }

    textarea {
        border: none;
        padding: 20px;
        margin: 20px 0 10px;
        resize: none;
    }
}
