footer {

    p {
        color: $white;
        background-color: $first;
        text-align: center;
        padding: 5px 0;
        margin: 0 auto;
    }

    a {
        transition: 0.3s;

        &:hover,
        &:focus {
            color: $primaryAccent;
        }
    }
}