.headerNav {
    background-color: $primaryBackground;
    display: flex;
    justify-content: flex-end;

    .burgLogo {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        padding: 10px;
        margin: 5px 15px;
        transition: 0.3s;

        &:hover, 
        &:focus {
            color: $white;
        }
    }

    h1 {
        margin: 5px;
    }

    label {
        display: none;
        font-size: 1.5rem;
        transition: 0.3s;
        padding: 30px;
    
        &:hover,
        &:focus {
            color: $white;
        }
    }
    
    #toggleBurg {
        display: none;
    }
}
