//Homepage Header Styling

.homepageHeader {
    background-color: $primaryBackground;
    min-height: 75vh;

    .homepageHeaderFlex {
        display: flex;
        align-items: center;
        position: relative;
    }

    .headerTitle {
        text-align: left;
        padding: 0 75px;
        margin: 150px 0 50px;
    }

    .headerTextPosition {
        position: absolute;
        top: 175px;
        left: 0;
    }

    .headerImgPosition {
        box-shadow: 15px 15px $white;
        position: absolute;
        top: 50px;
        right: 50px;
    }
}

//Contact Page + Blog Page Header Styling

.contactHeader {
    background-image: url(../assets/contact-image-1.jpg);
}

.blogHeader {
    background-image: url(../assets/blog-image-1.jpg);
}

.contactHeader, 
.blogHeader {
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h2 {
        position: absolute;
        bottom: -115px;
    }
}