header {
    min-height: 90vh;
}

.homepageHeader {
    background-color: $primaryBackground;

    .homepageHeaderFlex {
        display: flex;
        align-items: center;
        position: relative;
    }

    .headerTitle {
        text-align: left;
        padding: 0 75px;
        margin: 150px 0 50px;
    }

    .headerTextPosition {
        position: absolute;
        top: 175px;
        left: 0;
    }

    .headerImgPosition {
        box-shadow: 15px 15px $white;
        position: absolute;
        top: 50px;
        right: 50px;
    }
}