//Homepage Header Styling

.homepageHeader {
    background-color: $primaryBackground;
    min-height: 80vh;

    .homepageHeaderFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .headerTitle {
        max-width: calc(60% - 20px);
        position: relative;
        margin: 150px 20px 0 0;
        padding-left: 50px;
        z-index: 10;
    }

    .headerTextPosition {
        position: absolute;
        top: 30px;
        left: 0;
    }

    .headerImgPosition {
        max-width: calc(40% - 50px);
        margin-left: 50px;
        position: absolute;
        top: 50px;
        right: 50px;

        img {
            box-shadow: 15px 15px $white;
        }
    }
}

//Contact Page + Blog Page Header Styling

.contactHeader {
    background-image: url(../assets/contact-image-1.jpg);
}

.blogHeader {
    background-image: url(../assets/blog-image-1.jpg);
}

.contactHeader, 
.blogHeader {
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h2 {
        position: absolute;
        bottom: -115px;
    }
}