.about {
    background-color: $secondaryBackground;
    padding-bottom: 0;
}

.aboutIntro {
    padding: 40px 200px 100px 0;
}

.aboutPosts {
    background-color: $white;
    padding: 20px 0 40px;

    .aboutPostsFlex {
        display: flex;
        justify-content: space-between;

        &.aboutPosts2 {
            flex-direction: row-reverse;
        }

        div {
            min-width: calc(50% - 20px);
        }
    }

    .aboutPostsImg1, 
    .aboutPostsImg2 {
        margin-right: 10px;
        position: relative;

        img {
            position: absolute;
        }
    }

    .aboutPostsImg1 {
        img {
            top: -50px;
            box-shadow: 15px 15px $secondaryAccent, -200px 15px $secondaryAccent;
        }
    }
    
    .aboutPostsImg2 {
        img {
            bottom: -60px;
            left: -30px;
            box-shadow: 200px 15px $primaryBackground, 20px 15px $primaryBackground;
        }
    }

    .aboutPostsContent1 {
        margin-left: 10px;
        margin-bottom: 25px;
        padding-left: 80px;
    }

    .aboutPostsContent2 {
        text-align: right;
        margin-right: 10px;
        margin-bottom: 20px;
        padding-right: 110px;
    }
}