.mainNav {
    background-color: $secondaryBackground;
    padding: 75px 0;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            min-width: calc(50% - 60px);
            padding: 15px 30px;
            margin: 5px 30px;

            a {
                transition: 0.3s;

                &:hover, 
                &:focus {
                    color: $fourthAccent;
                }
            }
        }
    }
}

.iconPosition {
    position: relative;
}

.icon {
    background-color: $secondaryAccent;
    color: $secondaryBackground;
    border-radius: 50%;
    padding: 16px;
    position: absolute;
    left: -75px;
    top: 35px;
}