.gallery {
    padding: 75px 0;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            min-width: calc(33% - 40px);
            margin: 20px;
        }
    }
}