@media (max-width: 880px) {

    .headerNav {
        flex-direction: column;

        label {
            display: block;
            cursor: pointer;
        }

        .menu {
            display: none;
            width: 40%;
            margin-left: 75px;
            margin-bottom: 50px;
            

            li {
                border-bottom: 2px solid black;

                &.logoHide {
                    display: none;
                }
            }
        }

        #toggleBurg:checked+.menu {
            display: block;
        }
    }
}