@media (max-width: 1200px) {

    //Headers Styling
    
    .homepageHeader {

        .homepageHeaderFlex {
            justify-content: center;
        }

        .headerTitle {
            margin-top: 0;

            h2 {
                @include fontSize(116);
                margin: 105px 0 50px;
            }
        }

        .headerImgPosition {
            margin-top: 50px;
            position: static;
            align-self: center;
        }
    }

    .contactHeader,
    .blogHeader {
        background-position: center;
    }

    //About Section Styling

    .aboutIntro {
        width: 90%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .aboutPosts {

        .aboutPostsFlex {
            flex-direction: column;
            align-items: center;
        
            &.aboutPosts2 {
                flex-direction: column;
            }
        
            div {
                width: 95%;
            }
        }

        .aboutPostsImg1 {
            margin-top: 75px;
        }

        .aboutPostsImg1,
        .aboutPostsImg2 {
            margin-right: 0;
            position: static;
        
            img {
                position: static;
            }
        }

        .aboutPostsContent1 {
            text-align: right;
            margin: 50px 0;
        }
        
        .aboutPostsContent2 {
            text-align: left;
            margin: 50px 0;
        }
    }

    //Blog Page Styling

    .blogFlex {
        flex-direction: column;
    }

    .blogLinks {
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        padding: 20px 0;

        .blogAbout {
            display: flex;
            width: calc(65% - 15px);
            margin-right: 15px;

            .aboutSophie {
                width: calc(65% - 30px);
                padding-left: 30px;
            }
        }

        .recentPosts {
            align-self: flex-start;
            width: calc(32% - 15px);
            margin-left: 15px;
            margin-bottom: 0;

            li {
                list-style-position: inherit;
                border-bottom: 2px solid $secondaryBackground;
                border-left: 2px solid $secondaryBackground;
                margin-top: 10px;
                padding-left: 10px;
            }
        }
    }

    .blogPageContent {
        margin-left: 0;

        .comment {
            .commentAvatar {
                min-width: calc(30% - 15px);
            }
    
            .commentContent {
                min-width: calc(70% - 10px);
            }
        }
    }

    //Contact Page Styling

    .socialsIcons {
        flex-wrap: wrap;
    }

}


@media (max-width: 885px) {

    //Base Styles
    
    .button {
        width: 100%;
    }

    //Hamburger Nav Styling/Function

    .headerNav {
        position: relative;

        .burgLogo {
            display: block;
            z-index: 100;
            position: absolute;
            top: 7px;
            left: 122px;
            
            a {
                margin-left: 0;
                padding-left: 0;
            }
        }

        .burgButton {
            z-index: 100;
            background-color: transparent;
            border: none;
            padding-right: 30px;
            cursor: pointer;
            position: absolute;
            top: 28px;
            left: 82px;

            .burgMenu {
                font-size: 1.5rem;
                color: $first;
            }
        }

        #toggleBurg {
            display: block;
        }

        .menu {
            display: none;
            width: 80%;
            background: $white;
            padding-top: 80px;
            padding-left: 60px;
            padding-bottom: 30px;
            box-shadow: 5px 5px $first;
            position: absolute;
            top: -1000px;
            left: 0;
            z-index: 98;

            li {
                a {
                    margin: 5px 3px;

                    &:hover, 
                    &:focus {
                        color: $third;
                    }
                }

                &.logoHide {
                    display: none;
                }
            }
        }

        .highlightLink {
            color: $third;           
        }

        .showMenu {
            display: block;
            top: 0;
        }
    }

    //Headers Styling

    .homepageHeader {
        min-height: 50vh;
        padding-top: 100px;

        .homepageHeaderFlex {
            flex-direction: column;
        }
        
        .headerTitle {
            max-width: calc(100% - 20px);
        
            h2 {
                @include fontSize(100);
            }
        }
        
        .headerImgPosition {
            max-width: calc(100% - 50px);
            margin-top: 0;
            margin-left: 0;
        }
    }

    .contactHeader {
        background-position: left;
        min-height: 40vh;
    }

    .blogHeader {
        background-position: right;
        min-height: 40vh;
    }

    //Homepage Styling

    .mainNav {
        ul {
            flex-direction: column;
            
            li {
                padding: 10px 50px 15px 75px;
            }
        }
    }

    .sophiesJourney {
        .journeyFlex {
            flex-direction: column;
            align-items: center;
        }

        .journeyImg {
            width: 60%;
        }

        .journeyContent {
            width: 100%;
        }
    }

    .gallery {
        ul {
            flex-direction: column;
        }
    }

    //Blog Page Styling

    .blogLinks {
        flex-direction: column;

        .blogAbout, 
        .recentPosts {
            min-width: 100%;
        }

        .recentPosts {
            margin-left: 0;
        }
    }

    //Contact Page Styling

    .contactMain {
        flex-direction: column;
        align-items: center;
    }

    .contactInfo {
        width: 100%;
        align-self: center;
        margin-bottom: 40px;
    }

    form {
        &.contactForm {
            width: 100%;
            margin-left: 0;
        }

        .formFlex {
            flex-direction: column;
        }

        input {
            &.name,
            &.email {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}

@media (max-width: 628px) {

    //Modal Styling
    .modal {
        width: 300px;
        height: 400px;
        top: 15%;
    
        .close-modal-button {
            margin-right: 45px;
        }
    
        h4 {
            padding: 0 20px;
            text-align: center;
            margin-top: 30px;
        }
    
        p {
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }

    //Header Styling

    .contactHeader {
        background-position: center;
    }

    .headerNav {
        .menu {
            width: 100%;
        }
    }

    //Homepage Styling

    .aboutIntro {
        padding: 20px;
    }

    .aboutPosts {
        .aboutPostsContent1 {
            padding-left: 0;
        }

        .aboutPostsContent2 {
            padding-right: 0;
        }
    }

    .mainNav {
        ul {
            li {
                padding-left: 20px;
                padding-right: 0;
                margin: 40px 0;

                .icon {
                    left: 0;
                    top: -30px;
                }
            }
        }
    }

    //Blog Page Styling

    .blogLinks {
        .blogAbout {
            flex-direction: column;

            .aboutSophie {
                width: 100%;
            }
        }
    }

    .blogPageContent {
        .comment {
            flex-direction: column;

            .commentAvatar {
                width: 30%;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 493px) {

    //Header Styling

    .homepageHeader {
        .headerTitle {
            padding-left: 35px;

            h2 {
                @include fontSize(58);
                margin-top: 67px;
            }
        }

        .headerTextPosition {
            width: 145px;
            height: 145px;
        }
    }

    .blogHeader {
        background-position: -613px;
    }

    .blogHeader, 
    .contactHeader {
        h2 {
            @include fontSize(74);
            line-height: 1;
        }
    }

    //Homepage Styling

    .sophiesJourney { 
        .journeyContent {
            padding: 20px 20px 0;
        }
    }

    //Blog Page Styling

    .blogPageContent {
        .comment {    
            .commentAvatar {
                width: 50%
            }
        }
    }
}
