.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    background-color: $secondaryBackground;

    .close-modal {
        border: none;
        background:none;
        align-self: flex-end;
        margin-right: 65px;
    }

    h4 {
        margin-bottom: 0;
    }

    p {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

.modalForm {
    width: 80%;

    .modalEmail {
        width: 100%;
        padding: 20px;
    }
}