//Fonts
$headerFont: 'Lora', serif;
$mainFont: 'Roboto', sans-serif;
$bodyFontSize: 1rem;

//Site Colours
$primaryBackground: rgb(238, 234, 230);
$secondaryBackground: rgb(44, 44, 44);
$white: white;
$primaryAccent: rgb(67, 149, 225);
$secondaryAccent: rgb(198, 238, 150);
$ternaryAccent: rgb(176, 167, 168);
$fourthAccent: rgb(186, 173, 242);