//Fonts
$headerFont: 'Lora', serif;
$mainFont: 'Roboto', sans-serif;
$bodyFontSize: 1rem;

//Font Colours
$first: rgb(44 44 44);
$second: rgb(246 246 246);
$third: rgb(40 94 100);
$fourth: rgb(79 79 79);

//Site Colours
$primaryBackground: rgb(246 168 35);
$secondaryBackground: rgba(240, 239, 237, 0.358);
$white: white;
$accent: rgb(5 175 193);
