//Fonts
$headerFont: 'Lora', serif;
$mainFont: 'Roboto', sans-serif;
$bodyFontSize: 1rem;

//Font Colours
$first: rgb(44 44 44);
$second: rgb(246 246 246);
$third: rgb(40 94 100);
$fourth: rgb(79 79 79);

//Site Colours
$primaryBackground: rgb(246 168 35);
$secondaryBackground: rgba(189, 188, 186, 0.188);
$white: white;
$primaryAccent: rgb(12, 210, 232);
$secondaryAccent: rgb(168 39 6);
