html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

section {
  padding: 50px 0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

.button {
  background-color: rgb(12, 210, 232);
  padding: 8px 30px;
  margin: 15px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover, .button:focus {
  background-color: rgb(246, 168, 35);
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: rgb(44, 44, 44);
  line-height: 32px;
  letter-spacing: 0;
}

h1,
h2 {
  font-family: "Lora", serif;
}

h2,
h3,
h4,
h5,
.button,
.headerNav {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 32px;
  font-size: 1.6rem;
}

h2 {
  font-size: 130px;
  font-size: 6.5rem;
  line-height: 92px;
  letter-spacing: 0;
}

h3 {
  font-size: 42px;
  font-size: 2.1rem;
}

h4 {
  font-size: 32px;
  font-size: 1.6rem;
}

.button {
  text-align: center;
}

.highlightLink {
  color: rgb(246, 246, 246);
}

.headerNav {
  background-color: rgb(246, 168, 35);
}
.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerNav a {
  padding: 15px 10px;
  margin: 5px 10px;
}
.headerNav h1 {
  margin: 8px;
}

header {
  min-height: 90vh;
}

.homepageHeader {
  background-color: rgb(246, 168, 35);
}
.homepageHeader .homepageHeaderFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.homepageHeader .headerTitle {
  text-align: left;
  padding: 0 75px;
  margin: 150px 0 50px;
}
.homepageHeader .headerTextPosition {
  position: absolute;
  top: 175px;
  left: 0;
}
.homepageHeader .headerImgPosition {
  -webkit-box-shadow: 15px 15px white;
          box-shadow: 15px 15px white;
  position: absolute;
  top: 50px;
  right: 50px;
}

.about {
  background-color: rgba(189, 188, 186, 0.188);
  padding-bottom: 0;
}

.aboutIntro {
  padding: 40px 200px 100px 0;
}

.aboutPosts {
  background-color: white;
}
.aboutPosts .aboutPostsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutPosts .aboutPostsFlex div {
  width: calc(49% - 25px);
}
.aboutPosts .aboutPosts2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.aboutPosts .aboutPostsImg1 {
  position: relative;
}
.aboutPosts .aboutPostsImg1 img {
  position: absolute;
  top: -35px;
  -webkit-box-shadow: 15px 15px rgb(168, 39, 6), -200px 15px rgb(168, 39, 6);
          box-shadow: 15px 15px rgb(168, 39, 6), -200px 15px rgb(168, 39, 6);
}
.aboutPosts .aboutPostsImg2 {
  position: relative;
}
.aboutPosts .aboutPostsImg2 img {
  position: absolute;
  top: 0;
  -webkit-box-shadow: 150px 15px rgb(246, 168, 35), 20px 15px rgb(246, 168, 35);
          box-shadow: 150px 15px rgb(246, 168, 35), 20px 15px rgb(246, 168, 35);
}
.aboutPosts .aboutPostsContent1 {
  margin-left: 25px;
  margin-bottom: 45px;
}
.aboutPosts .aboutPostsContent2 {
  text-align: right;
  margin-right: 25px;
}

.mainNav {
  background-color: rgba(189, 188, 186, 0.188);
}
.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainNav ul li {
  padding: 35px;
}

.iconPosition {
  position: relative;
}

.icon {
  background-color: rgb(246, 168, 35);
  border-radius: 50%;
  padding: 16px;
  position: absolute;
  left: -75px;
  top: 35px;
}

.sophiesJourney {
  background-color: rgba(189, 188, 186, 0.188);
}

.journeyFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 75px auto 30px;
}

.journeyImg {
  width: 30%;
  margin: 50px;
  -webkit-box-shadow: 15px 15px rgb(246, 168, 35);
          box-shadow: 15px 15px rgb(246, 168, 35);
}

.journeyContent {
  width: 70%;
  padding: 20px 50px 0;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px auto;
}
.gallery ul li {
  padding: 15px;
  max-width: calc(33% - 15px);
}

footer p {
  color: white;
  background-color: rgb(44, 44, 44);
  text-align: center;
  padding: 5px 0;
  margin-bottom: 0;
}
footer a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer a:hover, footer a:focus {
  color: rgb(12, 210, 232);
}