html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  background-color: rgb(168, 39, 6);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  padding: 20px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

section {
  padding: 50px 0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

.button {
  background-color: rgb(12, 210, 232);
  padding: 8px 30px;
  margin: 15px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button.submit {
  border: none;
}
.button:hover, .button:focus {
  background-color: rgb(246, 168, 35);
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: rgb(44, 44, 44);
  line-height: 32px;
  letter-spacing: 0;
}

h1,
h2 {
  font-family: "Lora", serif;
}

h2,
h3,
h4,
h5,
.button,
.headerNav {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 38px;
  font-size: 1.9rem;
}

h2 {
  font-size: 138px;
  font-size: 6.9rem;
  line-height: 92px;
  letter-spacing: 0;
}

.contactHeader h2,
.blogHeader h2 {
  font-size: 90px;
  font-size: 4.5rem;
}

h3 {
  font-size: 42px;
  font-size: 2.1rem;
}

h4 {
  font-size: 32px;
  font-size: 1.6rem;
}

h5 {
  font-size: 22px;
  font-size: 1.1rem;
}

::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  opacity: 0.75;
}

::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  opacity: 0.75;
}

:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  opacity: 0.75;
}

::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  opacity: 0.75;
}

::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  opacity: 0.75;
}

.button {
  text-align: center;
}

.highlightLink {
  color: rgb(246, 246, 246);
}

.modal .close-modal-button {
  font-size: 40px;
  font-size: 2rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
}
.modal h4 {
  font-family: "Lora", serif;
  font-size: 36px;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.modal p {
  font-weight: bold;
  font-style: italic;
}

.overlay {
  position: fixed;
  background-color: rgba(79, 79, 79, 0.7);
  z-index: 50;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.modal-open {
  visibility: visible;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 575px;
  height: 400px;
  background-color: rgb(238, 234, 230);
  position: relative;
  top: 25%;
  margin: 0 auto;
}
.modal .close-modal-button {
  border: none;
  background: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 65px;
  cursor: pointer;
}
.modal h4 {
  margin-bottom: 0;
}
.modal p {
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal-close {
  visibility: hidden;
}

.headerNav {
  background-color: rgb(246, 168, 35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.headerNav .burgLogo,
.headerNav #toggleBurg {
  display: none;
}
.headerNav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerNav a {
  padding: 10px;
  margin: 5px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.headerNav a:hover, .headerNav a:focus {
  color: white;
}
.headerNav h1 {
  margin: 5px;
}

.homepageHeader {
  background-color: rgb(246, 168, 35);
  min-height: 80vh;
}
.homepageHeader .homepageHeaderFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.homepageHeader .headerTitle {
  max-width: calc(60% - 20px);
  position: relative;
  margin: 150px 20px 0 0;
  padding-left: 50px;
  z-index: 10;
}
.homepageHeader .headerTextPosition {
  position: absolute;
  top: 30px;
  left: 0;
}
.homepageHeader .headerImgPosition {
  max-width: calc(40% - 50px);
  margin-left: 50px;
  position: absolute;
  top: 50px;
  right: 50px;
}
.homepageHeader .headerImgPosition img {
  -webkit-box-shadow: 15px 15px white;
          box-shadow: 15px 15px white;
}

.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
}

.blogHeader {
  background-image: url(../assets/blog-image-1.jpg);
}

.contactHeader,
.blogHeader {
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.contactHeader h2,
.blogHeader h2 {
  position: absolute;
  bottom: -115px;
}

footer p {
  color: white;
  background-color: rgb(44, 44, 44);
  text-align: center;
  padding: 5px 0;
  margin: 0 auto;
}
footer a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer a:hover, footer a:focus {
  color: rgb(12, 210, 232);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
form.contactForm {
  min-width: calc(70% - 20px);
  margin-left: 20px;
}
form.commentForm {
  min-width: 100%;
}
form .formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form input {
  display: block;
  border: none;
}
form input.name, form input.email {
  padding: 20px;
  width: 49%;
}
form textarea {
  border: none;
  padding: 20px;
  margin: 20px 0 10px;
  resize: none;
}

.modalForm {
  width: 80%;
}
.modalForm .modalEmail {
  width: 100%;
  padding: 20px;
}

.about {
  background-color: rgb(238, 234, 230);
  padding-bottom: 0;
}

.aboutIntro {
  padding: 40px 200px 100px 0;
}

.aboutPosts {
  background-color: white;
  padding: 20px 0 40px;
}
.aboutPosts .aboutPostsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutPosts .aboutPostsFlex.aboutPosts2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.aboutPosts .aboutPostsFlex div {
  min-width: calc(50% - 20px);
}
.aboutPosts .aboutPostsImg1,
.aboutPosts .aboutPostsImg2 {
  margin-right: 10px;
  position: relative;
}
.aboutPosts .aboutPostsImg1 img,
.aboutPosts .aboutPostsImg2 img {
  position: absolute;
}
.aboutPosts .aboutPostsImg1 img {
  top: -50px;
  -webkit-box-shadow: 15px 15px rgb(168, 39, 6), -200px 15px rgb(168, 39, 6);
          box-shadow: 15px 15px rgb(168, 39, 6), -200px 15px rgb(168, 39, 6);
}
.aboutPosts .aboutPostsImg2 img {
  bottom: -60px;
  left: -30px;
  -webkit-box-shadow: 200px 15px rgb(246, 168, 35), 20px 15px rgb(246, 168, 35);
          box-shadow: 200px 15px rgb(246, 168, 35), 20px 15px rgb(246, 168, 35);
}
.aboutPosts .aboutPostsContent1 {
  margin-left: 10px;
  margin-bottom: 25px;
  padding-left: 80px;
}
.aboutPosts .aboutPostsContent2 {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-right: 110px;
}

.mainNav {
  background-color: rgb(238, 234, 230);
  padding: 75px 0;
}
.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainNav ul li {
  min-width: calc(50% - 60px);
  padding: 15px 30px;
  margin: 5px 30px;
}
.mainNav ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mainNav ul li a:hover, .mainNav ul li a:focus {
  color: rgb(168, 39, 6);
}

.iconPosition {
  position: relative;
}

.icon {
  background-color: rgb(246, 168, 35);
  border-radius: 50%;
  padding: 16px;
  position: absolute;
  left: -75px;
  top: 35px;
}

.sophiesJourney {
  background-color: rgb(238, 234, 230);
}
.sophiesJourney .journeyFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 75px auto 30px;
}
.sophiesJourney .journeyImg {
  width: 30%;
  margin: 50px;
}
.sophiesJourney .journeyImg img {
  -webkit-box-shadow: 15px 15px rgb(246, 168, 35);
          box-shadow: 15px 15px rgb(246, 168, 35);
}
.sophiesJourney .journeyContent {
  width: 70%;
  padding: 20px 50px 0;
}

.gallery {
  padding: 75px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul li {
  min-width: calc(33% - 40px);
  margin: 20px;
}

.contactPage {
  background-color: rgb(238, 234, 230);
}

.contactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 120px 0 90px;
}
.contactMain .contactInfo {
  background-color: white;
  padding: 35px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-width: calc(30% - 20px);
  margin-right: 20px;
}
.contactMain .contactInfo .emailAddress {
  font-weight: bold;
  padding: 8px 0;
}
.contactMain .contactInfo .emailAddress a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contactMain .contactInfo .emailAddress a:hover, .contactMain .contactInfo .emailAddress a:focus {
  text-decoration: underline;
}

.socialsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socialsIcons li {
  margin-left: 0;
  margin-right: 15px;
}
.socialsIcons li i {
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.socialsIcons li i:hover, .socialsIcons li i:focus {
  color: rgb(168, 39, 6);
}
.socialsIcons li .social {
  color: rgb(246, 168, 35);
  font-size: 28px;
  font-size: 1.4rem;
}

.blogMain {
  background-color: rgb(238, 234, 230);
}
.blogMain a {
  color: rgb(40, 94, 100);
  font-weight: bold;
  font-style: italic;
}
.blogMain a:hover, .blogMain a:focus {
  text-decoration: underline;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
}

.blogAbout,
.recentPosts,
.firstPost,
.comment {
  background-color: white;
  padding: 40px;
  margin-bottom: 30px;
}

.blogLinks {
  min-width: calc(35% - 20px);
  margin-right: 20px;
}
.blogLinks .blogAbout a {
  font-style: inherit;
}
.blogLinks .recentPosts {
  padding-top: 10px;
}
.blogLinks .recentPosts li {
  list-style-type: disc;
  list-style-position: inside;
}
.blogLinks .recentPosts li::marker {
  color: rgb(246, 168, 35);
}
.blogLinks .recentPosts li a {
  color: rgb(44, 44, 44);
  font-weight: 400;
  font-style: normal;
}

.blogPageContent {
  min-width: calc(65% - 20px);
  margin-left: 20px;
}
.blogPageContent .firstPost,
.blogPageContent .comment2 {
  border-bottom: 5px solid rgb(246, 168, 35);
}
.blogPageContent .firstPost {
  padding-top: 10px;
}
.blogPageContent .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blogPageContent .comment .commentAvatar {
  min-width: calc(15% - 15px);
  margin-right: 15px;
}
.blogPageContent .comment .commentContent {
  min-width: calc(85% - 10px);
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .homepageHeader .homepageHeaderFlex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homepageHeader .headerTitle {
    margin-top: 0;
  }
  .homepageHeader .headerTitle h2 {
    font-size: 116px;
    font-size: 5.8rem;
    margin: 105px 0 50px;
  }
  .homepageHeader .headerImgPosition {
    margin-top: 50px;
    position: static;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .contactHeader,
.blogHeader {
    background-position: center;
  }
  .aboutIntro {
    width: 90%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .aboutPosts .aboutPostsFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutPosts .aboutPostsFlex.aboutPosts2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutPosts .aboutPostsFlex div {
    width: 95%;
  }
  .aboutPosts .aboutPostsImg1 {
    margin-top: 75px;
  }
  .aboutPosts .aboutPostsImg1,
.aboutPosts .aboutPostsImg2 {
    margin-right: 0;
    position: static;
  }
  .aboutPosts .aboutPostsImg1 img,
.aboutPosts .aboutPostsImg2 img {
    position: static;
  }
  .aboutPosts .aboutPostsContent1 {
    text-align: right;
    margin: 50px 0;
  }
  .aboutPosts .aboutPostsContent2 {
    text-align: left;
    margin: 50px 0;
  }
  .blogFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
    padding: 20px 0;
  }
  .blogLinks .blogAbout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(65% - 15px);
    margin-right: 15px;
  }
  .blogLinks .blogAbout .aboutSophie {
    width: calc(65% - 30px);
    padding-left: 30px;
  }
  .blogLinks .recentPosts {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: calc(32% - 15px);
    margin-left: 15px;
    margin-bottom: 0;
  }
  .blogLinks .recentPosts li {
    list-style-position: inherit;
    border-bottom: 2px solid rgb(238, 234, 230);
    border-left: 2px solid rgb(238, 234, 230);
    margin-top: 10px;
    padding-left: 10px;
  }
  .blogPageContent {
    margin-left: 0;
  }
  .blogPageContent .comment .commentAvatar {
    min-width: calc(30% - 15px);
  }
  .blogPageContent .comment .commentContent {
    min-width: calc(70% - 10px);
  }
  .socialsIcons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 885px) {
  .button {
    width: 100%;
  }
  .headerNav {
    position: relative;
  }
  .headerNav .burgLogo {
    display: block;
    z-index: 100;
    position: absolute;
    top: 7px;
    left: 122px;
  }
  .headerNav .burgLogo a {
    margin-left: 0;
    padding-left: 0;
  }
  .headerNav .burgButton {
    z-index: 100;
    background-color: transparent;
    border: none;
    padding-right: 30px;
    cursor: pointer;
    position: absolute;
    top: 28px;
    left: 82px;
  }
  .headerNav .burgButton .burgMenu {
    font-size: 1.5rem;
    color: rgb(44, 44, 44);
  }
  .headerNav #toggleBurg {
    display: block;
  }
  .headerNav .menu {
    display: none;
    width: 80%;
    background: white;
    padding-top: 80px;
    padding-left: 60px;
    padding-bottom: 30px;
    -webkit-box-shadow: 5px 5px rgb(44, 44, 44);
            box-shadow: 5px 5px rgb(44, 44, 44);
    position: absolute;
    top: -1000px;
    left: 0;
    z-index: 98;
  }
  .headerNav .menu li a {
    margin: 5px 3px;
  }
  .headerNav .menu li a:hover, .headerNav .menu li a:focus {
    color: rgb(40, 94, 100);
  }
  .headerNav .menu li.logoHide {
    display: none;
  }
  .headerNav .highlightLink {
    color: rgb(40, 94, 100);
  }
  .headerNav .showMenu {
    display: block;
    top: 0;
  }
  .homepageHeader {
    min-height: 50vh;
    padding-top: 100px;
  }
  .homepageHeader .homepageHeaderFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homepageHeader .headerTitle {
    max-width: calc(100% - 20px);
  }
  .homepageHeader .headerTitle h2 {
    font-size: 100px;
    font-size: 5rem;
  }
  .homepageHeader .headerImgPosition {
    max-width: calc(100% - 50px);
    margin-top: 0;
    margin-left: 0;
  }
  .contactHeader {
    background-position: left;
    min-height: 40vh;
  }
  .blogHeader {
    background-position: right;
    min-height: 40vh;
  }
  .mainNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainNav ul li {
    padding: 10px 50px 15px 75px;
  }
  .sophiesJourney .journeyFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sophiesJourney .journeyImg {
    width: 60%;
  }
  .sophiesJourney .journeyContent {
    width: 100%;
  }
  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogLinks .blogAbout,
.blogLinks .recentPosts {
    min-width: 100%;
  }
  .blogLinks .recentPosts {
    margin-left: 0;
  }
  .contactMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactInfo {
    width: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 40px;
  }
  form.contactForm {
    width: 100%;
    margin-left: 0;
  }
  form .formFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form input.name, form input.email {
    margin-top: 20px;
    width: 100%;
  }
}
@media (max-width: 628px) {
  .modal {
    width: 300px;
    height: 400px;
    top: 15%;
  }
  .modal .close-modal-button {
    margin-right: 45px;
  }
  .modal h4 {
    padding: 0 20px;
    text-align: center;
    margin-top: 30px;
  }
  .modal p {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contactHeader {
    background-position: center;
  }
  .headerNav .menu {
    width: 100%;
  }
  .aboutIntro {
    padding: 20px;
  }
  .aboutPosts .aboutPostsContent1 {
    padding-left: 0;
  }
  .aboutPosts .aboutPostsContent2 {
    padding-right: 0;
  }
  .mainNav ul li {
    padding-left: 20px;
    padding-right: 0;
    margin: 40px 0;
  }
  .mainNav ul li .icon {
    left: 0;
    top: -30px;
  }
  .blogLinks .blogAbout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogLinks .blogAbout .aboutSophie {
    width: 100%;
  }
  .blogPageContent .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPageContent .comment .commentAvatar {
    width: 30%;
    margin-bottom: 30px;
  }
}
@media (max-width: 493px) {
  .homepageHeader .headerTitle {
    padding-left: 35px;
  }
  .homepageHeader .headerTitle h2 {
    font-size: 58px;
    font-size: 2.9rem;
    margin-top: 67px;
  }
  .homepageHeader .headerTextPosition {
    width: 145px;
    height: 145px;
  }
  .blogHeader {
    background-position: -613px;
  }
  .blogHeader h2,
.contactHeader h2 {
    font-size: 74px;
    font-size: 3.7rem;
    line-height: 1;
  }
  .sophiesJourney .journeyContent {
    padding: 20px 20px 0;
  }
  .blogPageContent .comment .commentAvatar {
    width: 50%;
  }
}